<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>com.thinkparity.server.ParityServer</class>

    <name>Parity Software Inc:  Parity Server</name>
    <description>Parity Software Inc:  Parity Server</description>
    <author>Parity Software Inc.</author>
    <version>1.0</version>
    <date>11/25/2005</date>
    <url>http://thinkparity.dydns.org/messenger/plugin/registry</url>
    <minServerVersion>2.2.0</minServerVersion>

</plugin>