################################################################################
##  EJP Profiler Configuration
##  e - Exclude
##  i - Include
################################################################################
e com.raykroeker.junitx.

e com.thinkparity.model.ModelTestCase
e com.thinkparity.model.ModelTestCaseHelper
e com.thinkparity.model.ModelTestUser
e com.thinkparity.model.ProfileRunner
e com.thinkparity.model.parity.model.document.CreateTest
e com.thinkparity.model.parity.model.document.CreateVersionTest
e com.thinkparity.model.parity.model.document.DeleteTest
e com.thinkparity.model.parity.model.document.ExportTest
e com.thinkparity.model.parity.model.document.FlagTest
e com.thinkparity.model.parity.model.document.GetContentTest
e com.thinkparity.model.parity.model.document.GetTest
e com.thinkparity.model.parity.model.document.GetVersionContentTest
e com.thinkparity.model.parity.model.document.GetVersionTest
e com.thinkparity.model.parity.model.document.ListTest
e com.thinkparity.model.parity.model.document.ListVersionsTest
e com.thinkparity.model.parity.model.document.LockTest
e com.thinkparity.model.parity.model.document.OpenTest
e com.thinkparity.model.parity.model.document.OpenVersionTest
e com.thinkparity.model.parity.model.document.UnlockTest
e com.thinkparity.model.parity.model.io.db.hsqldb.util.HypersonicValidatorTest
e com.thinkparity.model.parity.model.session.GetRosterEntriesTest
e com.thinkparity.model.parity.model.session.LoginTest
e com.thinkparity.model.parity.model.session.SendTest
e com.thinkparity.model.parity.model.workspace.GetWorkspaceTest
