<?xml version="1.0"?>
<assembly>
	<id>plugin</id>

	<formats>
		<format>jar</format>
	</formats>

	<includeBaseDirectory>false</includeBaseDirectory>

	<fileSets>
		<fileSet>
			<outputDirectory>/</outputDirectory>
			<includes>
				<include>README.txt</include>
				<include>LICENSE.txt</include>
			</includes>
		</fileSet>
		<fileSet>
			<outputDirectory>/</outputDirectory>
			<directory>target/classes</directory>
			<includes>
				<include>changelog.html</include>
				<include>icon_large.gif</include>
				<include>icon_small.gif</include>
				<include>plugin.xml</include>
				<include>readme.html</include>
			</includes>
		</fileSet>
		<fileSet>
			<outputDirectory>/lib</outputDirectory>
			<directory>target</directory>
			<includes>
				<include>rModel-1.0-SNAPSHOT.jar</include>
			</includes>
		</fileSet>
		<fileSet>
			<outputDirectory>/classes</outputDirectory>
			<directory>target/classes</directory>
			<includes>
				<include>log4j.properties</include>
			</includes>
		</fileSet>
	</fileSets>

	<dependencySets>
		<dependencySet>
			<outputDirectory>/lib</outputDirectory>
			<scope>runtime</scope>
			<excludes>
				<exclude>jivesoftware:messenger</exclude>
			</excludes>
		</dependencySet>
	</dependencySets>

</assembly>
