<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>com.thinkparity.migrator.Plugin</class>

    <name>${pom.name}</name>
    <description>Provides auto-update functionality and release storage for thinkParity solutions.</description>
    <author></author>
    <version>${pom.version}</version>
    <!-- MM/DD/YYYY -->
    <date>05/11/2006</date>
    <url>${pom.url}</url>
    <minServerVersion>2.3.1</minServerVersion>

</plugin>
